# Process user_logs.csv (bronze) DO NOT RUN UNLESS NECESSARY
This file creates the userlogs parquet files seperated by month from user_logs.csv

In [1]:
import os
import glob
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import random
from datetime import datetime, timedelta
from dateutil.relativedelta import relativedelta
import pprint
import pyspark
import pyspark.sql.functions as F

from pyspark.sql.functions import col
from pyspark.sql.types import StringType, IntegerType, FloatType, DateType

In [2]:
# Initialize SparkSession
spark = pyspark.sql.SparkSession.builder \
    .appName("dev") \
    .config("spark.driver.memory", "8g") \
    .master("local[*]") \
    .getOrCreate()

# Set log level to ERROR to hide warnings
spark.sparkContext.setLogLevel("ERROR")

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/10/17 09:58:39 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

# Read Data from CSV

In [3]:
# Read CSV file
df = spark.read.csv("data/user_logs.csv", header=True, inferSchema=True)

df.show()

+--------------------+--------+------+------+------+-------+-------+-------+----------+
|                msno|    date|num_25|num_50|num_75|num_985|num_100|num_unq|total_secs|
+--------------------+--------+------+------+------+-------+-------+-------+----------+
|rxIP2f2aN0rYNp+to...|20150513|     0|     0|     0|      0|      1|      1|   280.335|
|rxIP2f2aN0rYNp+to...|20150709|     9|     1|     0|      0|      7|     11|  1658.948|
|yxiEWwE9VR5utpUec...|20150105|     3|     3|     0|      0|     68|     36| 17364.956|
|yxiEWwE9VR5utpUec...|20150306|     1|     0|     1|      1|     97|     27| 24667.317|
|yxiEWwE9VR5utpUec...|20150501|     3|     0|     0|      0|     38|     38|  9649.029|
|yxiEWwE9VR5utpUec...|20150702|     4|     0|     1|      1|     33|     10|  10021.52|
|yxiEWwE9VR5utpUec...|20150830|     3|     1|     0|      0|      4|      7|  1119.555|
|yxiEWwE9VR5utpUec...|20151107|     1|     0|     0|      0|      4|      5|   938.022|
|yxiEWwE9VR5utpUec...|20160110|     2|     0|     1|      0|     11|      6|  3004.068|
|yxiEWwE9VR5utpUec...|20160316|     9|     3|     4|      1|     67|     50| 18257.661|
|yxiEWwE9VR5utpUec...|20160510|     5|     3|     2|      1|     67|     66| 16764.206|
|yxiEWwE9VR5utpUec...|20160804|     1|     4|     5|      0|     36|     43| 11359.565|
|yxiEWwE9VR5utpUec...|20160926|     7|     1|     0|      1|     38|     20| 10201.979|
|yxiEWwE9VR5utpUec...|20161115|     0|     1|     4|      1|     38|     40|  9288.948|
|yxiEWwE9VR5utpUec...|20170106|     0|     0|     0|      1|     39|     38| 10123.228|
|PNxIsSLWOJDCm7pNP...|20151201|     3|     3|     2|      0|      8|     11|   2293.25|
|PNxIsSLWOJDCm7pNP...|20160628|     0|     0|     1|      1|      1|      3|    639.03|
|PNxIsSLWOJDCm7pNP...|20170106|     2|     1|     0|      0|     35|     34|  7563.936|
|KXF9c/T66LZIzFq+x...|20150803|     0|     0|     0|      0|     16|     11|   3585.94|
|KXF9c/T66LZIzFq+x...|20160527|     4|     3|     0|      2|      2|     11|  1267.563|
+--------------------+--------+------+------+------+-------+-------+-------+----------+
only showing top 20 rows

In [4]:
df.count()

392106543

In [5]:
df.select("date").distinct().orderBy("date").show()

[Stage 6:======================================================>(227 + 1) / 228]

+--------+
|    date|
+--------+
|20150101|
|20150102|
|20150103|
|20150104|
|20150105|
|20150106|
|20150107|
|20150108|
|20150109|
|20150110|
|20150111|
|20150112|
|20150113|
|20150114|
|20150115|
|20150116|
|20150117|
|20150118|
|20150119|
|20150120|
+--------+
only showing top 20 rows

In [4]:
from pyspark.sql.functions import substring
# Extract year and month
df_with_ym = df.withColumn("year", substring("date", 1, 4)) \
               .withColumn("month", substring("date", 5, 2))

# Count distinct years and months
df_with_ym.select("year").distinct().count(), df_with_ym.select("month").distinct().count()

(3, 12)

In [5]:
df_with_ym.show(10)

+--------------------+--------+------+------+------+-------+-------+-------+----------+----+-----+
|                msno|    date|num_25|num_50|num_75|num_985|num_100|num_unq|total_secs|year|month|
+--------------------+--------+------+------+------+-------+-------+-------+----------+----+-----+
|rxIP2f2aN0rYNp+to...|20150513|     0|     0|     0|      0|      1|      1|   280.335|2015|   05|
|rxIP2f2aN0rYNp+to...|20150709|     9|     1|     0|      0|      7|     11|  1658.948|2015|   07|
|yxiEWwE9VR5utpUec...|20150105|     3|     3|     0|      0|     68|     36| 17364.956|2015|   01|
|yxiEWwE9VR5utpUec...|20150306|     1|     0|     1|      1|     97|     27| 24667.317|2015|   03|
|yxiEWwE9VR5utpUec...|20150501|     3|     0|     0|      0|     38|     38|  9649.029|2015|   05|
|yxiEWwE9VR5utpUec...|20150702|     4|     0|     1|      1|     33|     10|  10021.52|2015|   07|
|yxiEWwE9VR5utpUec...|20150830|     3|     1|     0|      0|      4|      7|  1119.555|2015|   08|
|yxiEWwE9VR5utpUec...|20151107|     1|     0|     0|      0|      4|      5|   938.022|2015|   11|
|yxiEWwE9VR5utpUec...|20160110|     2|     0|     1|      0|     11|      6|  3004.068|2016|   01|
|yxiEWwE9VR5utpUec...|20160316|     9|     3|     4|      1|     67|     50| 18257.661|2016|   03|
+--------------------+--------+------+------+------+-------+-------+-------+----------+----+-----+
only showing top 10 rows

3 years worth of data

In [6]:
df_with_ym.write \
    .mode("overwrite") \
    .option("header", "true") \
    .partitionBy("year", "month") \
    .parquet("datamart/bronze/user_logs")

# Do the same for V2

In [3]:
# Read CSV file
df2 = spark.read.csv("data/user_logs_v2.csv/user_logs_v2.csv", header=True, inferSchema=True)

df2.show()

+--------------------+--------+------+------+------+-------+-------+-------+----------+
|                msno|    date|num_25|num_50|num_75|num_985|num_100|num_unq|total_secs|
+--------------------+--------+------+------+------+-------+-------+-------+----------+
|u9E91QDTvHLq6NXjE...|20170331|     8|     4|     0|      1|     21|     18|  6309.273|
|nTeWW/eOZA/UHKdD5...|20170330|     2|     2|     1|      0|      9|     11|  2390.699|
|2UqkWXwZbIjs03dHL...|20170331|    52|     3|     5|      3|     84|    110| 23203.337|
|ycwLc+m2O0a85jSLA...|20170331|   176|     4|     2|      2|     19|    191|  7100.454|
|EGcbTofOSOkMmQyN1...|20170331|     2|     1|     0|      1|    112|     93| 28401.558|
|qR/ndQ5B+1cY+c9ih...|20170331|     3|     0|     0|      0|     39|     41|  9786.842|
|N6ch5ArfJixq9mvAR...|20170330|     9|     1|     0|      0|     18|     26|  4920.255|
|JEjl2W1ivEI6epeob...|20170331|   181|    68|     5|      3|     54|    291| 22433.105|
|lPK4IYIFdfTT6pq7x...|20170331|     3|     0|     1|      1|    181|    150| 46240.281|
|cDgnvwQwCwru2m3zc...|20170331|     5|     4|     1|      1|     30|     31|  7881.618|
|Cwk7eMLB8Gn8WuzEC...|20170331|     7|     1|     2|      7|     69|     74| 18169.176|
|6eT/NGMljpNgEeqTY...|20170324|    78|     5|     3|      2|      8|     85|   3490.02|
|PVoh0C3fQb1qPNLj7...|20170325|     7|     1|     0|      0|     45|     21|  8159.811|
|cK5XYJqbmsRYasnA4...|20170324|     1|     0|     0|      0|     17|     18|  4012.814|
|zv12NEuyP2XxcgTDu...|20170325|     5|     3|     2|      1|     34|     43|  9060.814|
|NCRcE4eNurBdOoRk0...|20170325|    40|     6|     2|      2|    131|    149| 29400.889|
|q5iH4iDmaFeyz2Zhv...|20170324|     4|     2|     0|      1|     79|     80|  20312.57|
|dgjSYdCsI6j51myzx...|20170325|     3|     1|     0|      2|    155|    156| 36424.954|
|Q6XdUeVvsXNF/7o0I...|20170318|     1|     1|     1|      0|    136|    123| 37989.716|
|TWrqEpm0U75ZWW6CH...|20170317|    18|     1|     2|      3|    170|    162| 42203.675|
+--------------------+--------+------+------+------+-------+-------+-------+----------+
only showing top 20 rows

In [4]:
df2.count()

18396362

In [5]:
df2.select("date").distinct().orderBy("date").show()

[Stage 6:===============================================>          (9 + 2) / 11]

+--------+
|    date|
+--------+
|20170301|
|20170302|
|20170303|
|20170304|
|20170305|
|20170306|
|20170307|
|20170308|
|20170309|
|20170310|
|20170311|
|20170312|
|20170313|
|20170314|
|20170315|
|20170316|
|20170317|
|20170318|
|20170319|
|20170320|
+--------+
only showing top 20 rows

In [6]:
from pyspark.sql.functions import substring
# Extract year and month
df2_with_ym = df2.withColumn("year", substring("date", 1, 4)) \
               .withColumn("month", substring("date", 5, 2))

# Count distinct years and months
df2_with_ym.select("year").distinct().count(), df2_with_ym.select("month").distinct().count()

(1, 1)

In [7]:
df2_with_ym.show(10)

+--------------------+--------+------+------+------+-------+-------+-------+----------+----+-----+
|                msno|    date|num_25|num_50|num_75|num_985|num_100|num_unq|total_secs|year|month|
+--------------------+--------+------+------+------+-------+-------+-------+----------+----+-----+
|u9E91QDTvHLq6NXjE...|20170331|     8|     4|     0|      1|     21|     18|  6309.273|2017|   03|
|nTeWW/eOZA/UHKdD5...|20170330|     2|     2|     1|      0|      9|     11|  2390.699|2017|   03|
|2UqkWXwZbIjs03dHL...|20170331|    52|     3|     5|      3|     84|    110| 23203.337|2017|   03|
|ycwLc+m2O0a85jSLA...|20170331|   176|     4|     2|      2|     19|    191|  7100.454|2017|   03|
|EGcbTofOSOkMmQyN1...|20170331|     2|     1|     0|      1|    112|     93| 28401.558|2017|   03|
|qR/ndQ5B+1cY+c9ih...|20170331|     3|     0|     0|      0|     39|     41|  9786.842|2017|   03|
|N6ch5ArfJixq9mvAR...|20170330|     9|     1|     0|      0|     18|     26|  4920.255|2017|   03|
|JEjl2W1ivEI6epeob...|20170331|   181|    68|     5|      3|     54|    291| 22433.105|2017|   03|
|lPK4IYIFdfTT6pq7x...|20170331|     3|     0|     1|      1|    181|    150| 46240.281|2017|   03|
|cDgnvwQwCwru2m3zc...|20170331|     5|     4|     1|      1|     30|     31|  7881.618|2017|   03|
+--------------------+--------+------+------+------+-------+-------+-------+----------+----+-----+
only showing top 10 rows

In [ ]:
df2_with_ym.write \
    .mode("overwrite") \
    .option("header", "true") \
    .partitionBy("year", "month") \
    .parquet("datamart/bronze/user_logs_v2")

In [8]:
# Cleanup
spark.stop()
print("\n✓ Spark session stopped")

✓ Spark session stopped